{% extends 'main.html' %}

{% block content %}


 <h3> {{book.name}} </h3>
 <div class="row mt-3">
   <div class="col-sm-12 col-md-10 ">
     <iframe src="{{book.source_file.url}}" width=100% height=720> </iframe>
   </div>
 <div class="col-sm-12 col-md-2 border pt-3 pl-3 pr-3 pb-3 ">
   <h4> Series</h4>
   <div class="list-group">
     {% for serie in series %}
     <a class="list-group-item list-group-item-action" href="{% url 'ebooks:singleserie' serie.id %}"> {{serie.name}} </a>
     {% endfor %}
   </div>
 </div>
   </div>
   

{% endblock %}
 
